<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Envie sua Receita!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <a href="../tab1/tab1.page.html">Home</a><br><br>
    <a href="../tab2/tab2.page.html">Envie sua Receita</a><br><br>
    <a href="../tab3/tab3.page.html">Contato</a>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Envie sua Receita!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <ion-card>
    <ion-card-header>
      <ion-card-title>Envie sua Receita!</ion-card-title>
    </ion-card-header>
    <div id="img-card">
      <img alt="Receitas" src="https://freedesignfile.com/upload/2015/03/Set-of-food-illustration-vectors-material-08.jpg" />
    </div>
    <ion-card-content>
      Gostaria de sugerir uma receita para nosso site? Envie aqui!
    </ion-card-content>
  </ion-card></ion-content>
</div>
