<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Envie sua Receita!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Envie sua Receita!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <ion-card>
    <img alt="Receitas" src="https://freedesignfile.com/upload/2015/03/Set-of-food-illustration-vectors-material-08.jpg" />
    <ion-card-header>
      <ion-card-title>Envie sua Receita!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Gostaria de sugerir uma receita para nosso site? Envie aqui!
    </ion-card-content>
  </ion-card></ion-content>
</div>
