<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Contato</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <a href="../tab1/tab1.page.html">Home</a><br><br>
    <a href="../tab2/tab2.page.html">Envie sua Receita</a><br><br>
    <a href="../tab3/tab3.page.html">Contato</a>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Contato</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <ion-card>
    <ion-card-header>
      <ion-card-title>Contato</ion-card-title>
    </ion-card-header>
    <div id="img-card">
      <img alt="Contato" src="https://img.freepik.com/premium-vector/online-consultant-man-works-laptop-communicates-customers-through-headset-responds-messages_320290-644.jpg?w=360" />
    </div>
    <ion-card-content>
      Nos contate por aqui!
    </ion-card-content>
  </ion-card> </ion-content>
</div>
